img {
    width: 300px;
}

header{
    background-color: blueviolet;
}

section{
    padding: 40px 0;
}

.product-div{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.product{
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;

    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.product-img{
    max-width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
}